GOHUB_SERVER_PORT=8081
GOHUB_SERVER_MODE=debug

GOHUB_MYSQL_HOST=mysql
GOHUB_MYSQL_PORT=3306
GOHUB_MYSQL_USERNAME=gohub_app
GOHUB_MYSQL_PASSWORD=
GOHUB_MYSQL_DATABASE=gohub
GOHUB_MYSQL_CHARSET=utf8mb4


GOHUB_REDIS_ADDR=redis:6379
GOHUB_REDIS_PASSWORD=
GOHUB_REDIS_DB=0

GOHUB_REDIS_ADDR=127.0.0.1:6381

GOHUB_JWT_SECRET=
GOHUB_JWT_EXPIRE_HOURS=24


GOHUB_KAFKA_BROKERS=kafka:9092
GOHUB_KAFKA_MESSAGE_CREATED_TOPIC=message.created
GOHUB_KAFKA_CONSUMER_GROUP=gohub-message-audit-v1