GOHUB_SERVER_PORT=8081

GOHUB_MYSQL_HOST=127.0.0.1
GOHUB_MYSQL_PORT=3306
GOHUB_MYSQL_USERNAME=
GOHUB_MYSQL_PASSWORD=
GOHUB_MYSQL_DATABASE=gohub

GOHUB_REDIS_ADDR=127.0.0.1:6381

GOHUB_JWT_SECRET=
GOHUB_JWT_EXPIRE_HOURS=24